<div>
    <div class="headFooter">
        <img src="assets/logo.png" alt="logo">
        <h1>GSFITNESS SHOP</h1>
    </div>
    <br>
    <div>
        <mat-divider></mat-divider>
    </div>
    <br>
    <div class="info-sections">
        <div class="info-section contact">
            <h2>CONTACTO</h2>
            <mat-divider></mat-divider>
            <br>
            <ul>
                <li>
                    <h4>Juanito Perez Artavia</h4>
                </li>
                <li>
                    <h4>Numero: 78737734</h4>
                </li>
                <li>
                    <h4>Correo: juanperez&#64;gmail.com</h4>
                </li>
                <li>
                    <h4>Alajuela Centro</h4>
                </li>
            </ul>
        </div>
        <div class="info-section">
            <h2>NUEVOS PRODUCTOS</h2>
            <mat-divider></mat-divider>
            <br>
            <ul>
                <li>
                    <h4>Discos para Maquina 5lb</h4>
                </li>
                <li>
                    <h4>Maquina Smith 2032-323</h4>
                </li>
                <li>
                    <h4>Bicicleta Eliptica Grande</h4>
                </li>
                <li>
                    <h4>Mancuerdas 20lbs</h4>
                </li>
            </ul>
        </div>
        <div class="info-section">
            <h2>DONDE ENCONTRARNOS</h2>
            <mat-divider></mat-divider>
            <br>
            <img src="assets/map2.png" alt="map">
        </div>
    </div>
    
    <mat-toolbar-row color="accent" layout-align="start center" class="footer">
         <p class="title-center">
            GStrength - Todos los derechos reservados - 2024
         </p> 
    </mat-toolbar-row> 
</div>
  


