// *{
//     margin: 0;
//     padding: 0;
// }

// .example-spacer {
//     flex: 1 1 auto;
// }

.mainToolbar{
    margin: 0px;
    padding: 0px;
    // background-color: transparent;
}

.imgLogo{
    max-width: 50px;
    margin-left: 20px;
   }

.titulo{
    font-size: 45px;
    font-family: 'Bebas Neue';
}
button{
    font-family: 'Bebas Neue';  
}

span{
    font-family: 'Bebas Neue';
}


.navbar{
    height:60px;
}

mat-icon{
    color: white;
}

// @media (max-width: 768px) {
//     .navbar-collapse {
//       background: black;
//     }
//   }

// .navbar-collapse{
//     background-color: black;
// }