<div class="all">
  <div class="row">
    <div class="col-lg-12">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="min-height: 100px;"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>OFERTAS DISPONIBLES</h5>
              <p>Consulte ahora mismo acerca de todas nuestras ofertas</p>
            </div>
          </div>
          <div class="carousel-item">
            <div style="min-height: 100px;"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>NUEVOS INGRESOS</h5>
              <p>Ordene el catalogo por Mas Recientes para ver los nuevos productos</p>
            </div>
          </div>
          <div class="carousel-item">
            <div style="min-height: 100px;"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>DESCUENTOS</h5>
              <p>Reciba descuentos especiales al pagar el efectivo</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-10">
      <span ><h1>Todos Los Productos</h1></span>
    </div>
    <div class="col-sm-2">
      <button mat-button (click)="hideFilters()"> Ocultar Filtros <mat-icon>tune</mat-icon></button>
      <button mat-button (click)="ordernarPor()"> Ordernar Por<mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <mat-divider></mat-divider>
      


      <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample" data-bs-theme="dark">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Precio
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <mat-checkbox>0-100000</mat-checkbox>
              <br>
              <mat-checkbox>100000-1000000</mat-checkbox>
              <br>
              <mat-checkbox>1000000-2000000</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Marca
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <mat-checkbox>Marca 1</mat-checkbox>
              <br>
              <mat-checkbox>Marca 2</mat-checkbox>
              <br>
              <mat-checkbox>Marca 3</mat-checkbox>  
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Sexo
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <mat-checkbox>Si, porfavor</mat-checkbox>
              <br>  
              <mat-checkbox>No, gracias</mat-checkbox>
              <br>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4" *ngFor="let product of datosComb">
          <div class="card mb-4 click" (click)="viewProduct(product.id)">
            <img *ngIf="product.imgUrl" [src]="product.imgUrl" class="card-img-top" [alt]="product.pname">
            <div class="card-body cartasProd">
              <h3 class="card-title">{{ product.pname }} | ₡{{ product.pprice }}</h3>
              <h5 class="card-subtitle mb-2">{{ product.pcategory }}</h5>
              <!-- <button mat-button  (click)="viewProduct(product.id)">Ver Más</button> -->
            </div>
          </div>
        </div>
    
      </div>
    </div>
  </div>

  
    

        

            <!-- <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of datosComb">
                <div class="card mb-4">
                  <img *ngIf="product.imgUrl" [src]="product.imgUrl" class="card-img-top" [alt]="product.pname">
                  <div class="card-body cartasProd">
                    <h5 class="card-title">{{ product.pname }} | ₡{{ product.pprice }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ product.pcategory }}</h6>
                    <button class="btn btn-primary" (click)="viewProduct(product.id)">Ver Más</button>
                  </div>
                </div>
              </div>
            </div> -->

          
        

</div>



  
