<div class="cartaMain">
    <div class="row">
      <div class="col-sm-2 d-flex align-items-center divTitu">
        <mat-icon class="me-2">home</mat-icon>
        <h3 class="mb-0">GStrength Admin</h3>
      </div>
      <div class="col-sm-10 d-flex align-items-center">
        <h3 class="mb-0">Dashboard</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 divMenu">
        <button class="butMenu butMenuActive butMenuFirst" mat-button [routerLink]="'/admin/inicio'">
          <mat-icon>analytics</mat-icon>
          <span>Dashboard</span>
        </button>
        <br>
          <button class="butMenu" mat-button [routerLink]="'/admin/productos'">
            <mat-icon>inventory</mat-icon>
            <span>Productos</span>
          </button>
        <br>
          <button class="butMenu" mat-button [routerLink]="'/admin/compradores'">
            <mat-icon>group</mat-icon>
            <span>Compradores</span>
          </button>
        <br>
          <button class="butMenu" mat-button [routerLink]="'/admin/ventas'">
            <mat-icon>sell</mat-icon>
            <span>Ventas</span>
          </button>
        <br>
          <button  class="butMenu" mat-button [routerLink]="'/admin/analytics'">
            <mat-icon>bar_chart</mat-icon>
            <span>Analiticas</span>
          </button>
      </div>
      <div class="col-sm-10 mainDiv">
        <div class="row">
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Ventas Totales</h1>
                <h4 class="subtit">Cantidad total de ingresos monetarios del mes actual</h4>
                <br>
                <h1>$1000</h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Ordenes</h1>
                <h4 class="subtit">Cantidad de ordenes recibidas durante mes acutal</h4>
                <br>
                <h1>10</h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Crecimiento</h1>
                <h4 class="subtit">Porcentaje de ganancias en comparacion al mes anterior</h4>
                <br>
                <h1>10%</h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Costo Promedio</h1>
                <h4 class="subtit">Costo promedio de cada venta realizada durante el mes</h4>
                <br>
                <h1>$500</h1>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Ventas Totales</h1>
                <h4 class="subtit">Cantidad total de ingresos monetarios del mes actual</h4>
                <br>
                <h1>$1000</h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Ordenes</h1>
                <h4 class="subtit">Cantidad de ordenes recibidas durante mes acutal</h4>
                <br>
                <h1>10</h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Crecimiento</h1>
                <h4 class="subtit">Porcentaje de ganancias en comparacion al mes anterior</h4>
                <br>
                <h1>10%</h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm">
            <mat-card class="cartas" appearance="outlined">
              <mat-card-content>
                <h1>Costo Promedio</h1>
                <h4 class="subtit">Costo promedio de cada venta realizada durante el mes</h4>
                <br>
                <h1>$500</h1>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-card appearance="outlined" class="cartaTabla">
              <mat-card-content>
                <div >
                  <table class="tabla" mat-table [dataSource]="dataSource" matSort>
            
                    <ng-container matColumnDef="pname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let row"> {{row.pname}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="pdescription">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                      <td mat-cell *matCellDef="let row"> {{row.pdescription}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="pstatus">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                      <td mat-cell *matCellDef="let row"> {{row.pstatus}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="pprice">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                      <td mat-cell *matCellDef="let row"> {{row.pprice}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="pstock">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventario </th>
                      <td mat-cell *matCellDef="let row"> {{row.pstock}} </td>
                    </ng-container>
              
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            
                  </table>
            
            
                </div>  
              </mat-card-content>
            </mat-card>
          </div>
          
          
        </div>
        
      </div>
    </div>
  
  </div>
  
  
  
  
  <div class="adminDiv">
    
    <div class="divGraphs"> 
      <div class="rows">
        <h4>Ventas Mensuales</h4>
        <canvas  id="MyChart">{{chart}}</canvas>
      </div>
      <div class="rows">
        <h4>Ingresos por Producto</h4>
        <canvas  id="MyChart2">{{chart2}}</canvas>
      </div>
      <div class="rows">
        <h4>Productos mas Vendidos</h4>
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 mat-mdc-table">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.position}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nombre del Producto </mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Cantidad Total Vendida </mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.quantity}} </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
        </table>
      </div>
    </div>
  <div>
    
  </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" style="margin-top: 10px;">
      <mat-tab label="Todos los productos">
        <div class="tabla">
          <mat-form-field>
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Mancuerna" #input>
           </mat-form-field>
            
            <!-- <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
  
                <ng-container matColumnDef="pname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row"> {{row.pname}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pdescription">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                  <td mat-cell *matCellDef="let row"> {{row.pdescription}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pstatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.pstatus}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pprice">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                  <td mat-cell *matCellDef="let row"> {{row.pprice}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pstock">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventario </th>
                  <td mat-cell *matCellDef="let row"> {{row.pstock}} </td>
                </ng-container>
          
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell textoFiltro" colspan="4">No se ha encontrado un producto con los parametros establecidos "{{input.value}}"</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>   -->
             <!-- para probar hacer lo de la tabla expandible -->
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
  
                <ng-container matColumnDef="pname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row"> {{row.pname}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pdescription">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                  <td mat-cell *matCellDef="let row"> {{row.pdescription}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pstatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.pstatus}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pprice">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                  <td mat-cell *matCellDef="let row"> {{row.pprice}} </td>
                </ng-container>
  
                <ng-container matColumnDef="pstock">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventario </th>
                  <td mat-cell *matCellDef="let row"> {{row.pstock}} </td>
                </ng-container>
          
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell textoFiltro" colspan="4">No se ha encontrado un producto con los parametros establecidos "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccione una Pagina"></mat-paginator>
  
            </div>  
      </div> 
      </mat-tab>
      <mat-tab label="Agregar Productos">
        <div class="formAgregar">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="divForm">
            <div class="rowsForm">
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="pname" placeholder="Mancuerna">
                <mat-hint>Nombre del producto</mat-hint>
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Marca</mat-label>
                <input matInput formControlName="pbrand" placeholder="Gympak">
                <mat-hint>Nombre de la marca</mat-hint>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Descripcion</mat-label>
                <input matInput formControlName="pdescription" placeholder="Este producto es un producto creado para realizar ejercicios...">
                <mat-hint>Descripcion del Producto, Maximo 255 Caracteres</mat-hint>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="pstatus" placeholder="Disponible">
                  <mat-option value="1">Disponible</mat-option>
                  <mat-option value="2">Agotado</mat-option>
                  <mat-option value="3">Proximamente</mat-option>
                  <mat-option value="4">Inactivo</mat-option>
                </mat-select>
                <mat-hint>Estado de Disponibilidad Actual</mat-hint>
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="pcategory" placeholder="Maquinas">
                  <mat-option value="1">Maquinas</mat-option>
                  <mat-option value="2">Pesas Libres</mat-option>
                  <mat-option value="3">Equipos Cardiovasculares</mat-option>
                </mat-select>
                <mat-hint>Tipo de Equipo </mat-hint>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Precio</mat-label>
                <input matInput formControlName="pprice" placeholder="100000.99">
                <mat-hint>Precio en Colones del Producto, utilizando puntos para las decimas</mat-hint>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="inputsForm">
                <mat-label>Inventario</mat-label>
                <input matInput formControlName="pstock" placeholder="35">
                <mat-hint>La Cantidad Disponible del Producto para Entrega Inmediata</mat-hint>
              </mat-form-field>
            </div>
            <div class="rowsForm">
              <h4 style="font-weight: 400;">Imagen Del Producto</h4>
              <div class="imagen" style="max-width: 300px;">
                <div *ngFor="let imageUrl of imagesArray">
                  <img [src]="imageUrl" alt="Uploaded Image"  >
                </div>
              </div>
  
              <div class="subir-imagen">    
                <input type="file" id="file-input" name="file-input" multiple (change)="uploadMultiple($event)" accept="image/*" />
                <label id="file-input-label" for="file-input">Subir Imagen</label>
              </div>
            </div>
  
            <button mat-flat-button color="primary" type="submit" [disabled]="!myForm.valid">Agregar Producto</button>
          </form>
        </div>
  
     
      </mat-tab>
      <mat-tab label="Registrar Venta">
        <form [formGroup]="myForm2" (ngSubmit)="onSubmitVenta()" class="divForm">
            <mat-form-field appearance="outline" class="inputsForm">
              <mat-label>Producto</mat-label>
              <mat-select formControlName="product" placeholder="Producto">
                <mat-option *ngFor="let product of dataProds" [value]="product.id">
                  {{ product.pname }}
                </mat-option>
              </mat-select>
              <mat-hint>Seleccione el Producto que se ha Vendido</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="inputsForm">
              <mat-label>Cantidad</mat-label>
              <input matInput formControlName="cantidad" type="number" min="1" placeholder="1">
              <mat-hint>Cantidad Vendida del Producto</mat-hint>
            </mat-form-field>
  
          <button mat-flat-button color="primary" type="submit" [disabled]="!myForm2.valid">Registrar Venta</button>
        </form>
      </mat-tab>
      
      <mat-tab label="Compradores">
  
      </mat-tab>
    </mat-tab-group>      
    <div>
        <div class="tabla"> 
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource3" matSort>
  
                <ng-container matColumnDef="productid">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row"> {{row.productid}} </td>
                </ng-container>
  
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Vendida </th>
                  <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                </ng-container>
  
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>        
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  
              </table>
            
              <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccione una Pagina"></mat-paginator>
            </div>  
      </div> 
    </div>
    
  </div>
  