.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.loginDiv{
    max-width: 50%;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 10%;
}

.hint{
    color: white;
}

.titulo{
    color: white;
}

.formCorreo{
    margin-top: 3px;
}